<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>CodexUsageBar</string>
	<key>CFBundleIdentifier</key>
	<string>com.evans.CodexUsageBar</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Codex Usage Bar</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1.2</string>
	<key>CFBundleVersion</key>
	<string>3</string>
	<key>LSMinimumSystemVersion</key>
	<string>13.0</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>SUEnableDownloaderSecurity</key>
	<true/>
	<key>SUFeedURL</key>
	<string>https://raw.githubusercontent.com/evansliaudet/codex-stats-viewer/main/releases/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>G0ck11IYQ9s9UGdwGglA04UWhX7x++/hOFPkrXcRNsY=</string>
</dict>
</plist>
